// Font.
$font: (
  primary: ("Inter", sans-serif),
  secondary: ("Inter", serif)
);

// Palette.
$palette: (
  primary:       #6ba43a,
  secondary:     darken(#6ba43a, 15%),
  meta:          lighten(#6ba43a, 25%),
  border:        lighten(#6ba43a, 52%),
  bg:            lighten(#6ba43a, 58%),
  accent:        #3cb464,
  accent-blue:   #108afb,
  accent-black:  #333b45,
  accent-red:    #f8646c
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/intro";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";
